Tasktrove/src/TesterDatafile.dtd

<!DOCTYPE terminListe
[
	<!ELEMENT terminListe (termin)>
	<!ELEMENT termin (name, datum, uhrzeit)>
	<!ELEMENT name (#PCDATA)>
	<!ELEMENT datum (datumVon, datumBis)>
	<!ELEMENT datumVon (#PCDATA)>
	<!ELEMENT datumBis (#PCDATA)>
	<!ELEMENT uhrzeit (uhrzeitVon, uhrzeitBis)>
	<!ELEMENT uhrzeitVon (#PCDATA)>
	<!ELEMENT uhrzeitBis (#PCDATA)>
]>
