Tasktrove/src/standard/TesterDatafile.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE termin [
	<!ELEMENT termin (name, datum, uhrzeit)>
	<!ELEMENT name (#PCDATA)>
	<!ELEMENT datum (datumVon, datumBis)>
	<!ELEMENT datumVon (#PCDATA)>
	<!ELEMENT datumBis (#PCDATA)>
	<!ELEMENT uhrzeit (uhrzeitVon, uhrzeitBis)>
	<!ELEMENT uhrzeitVon (#PCDATA)>
	<!ELEMENT uhrzeitBis (#PCDATA)>
]>